/* Colors */
$dark: #000000;
$dark-title: #4b4141;
$dark-text: #4e4e4e;
$gray-link: #989898;
$gray-link-hover: #717171;
$gray-bg: #f1f1f1;
$orange: #f5970a;
$white: #ffffff;

/* Fonts */
$roboto: "Roboto", Helevatica, Arial, sans-serif;
$roboto-bold: "Roboto Bold", Helevatica, Arial, sans-serif;

