$largest_desktop: 1700px;
$large_desktop_breakpoint: 1551px;
$large_desktop: 1440px;
$small_desktop: 1280px;

$large_tablet: 1024px;
$middle_tablet: 920px;
$small_tablet: 768px;

$large_mobile: 580px;
$small_mobile: 440px;

// @include max-screen($large_desktop) {

// }
