+b.HEADER.header.flex._justify
	+e.nav.NAV
		+e.nav-list.no-circle-list.flex._center.UL
			+e.nav-item.LI
				+e.nav-link._list.A(href="#") Услуги
			+e.nav-item.LI
				+e.nav-link._list.A(href="#") Портфолио
			+e.nav-item.LI
				+e.nav-link.A(href="#") Лицензии и сертификаты
			+e.nav-item.LI
				+e.nav-link.A(href="#") Статьи
			+e.nav-item.LI
				+e.nav-link.A(href="#") О нас
			+e.nav-item.LI
				+e.nav-link.A(href="#") Контакты
		+e.logo.A(href="#")
			+e.IMG(src="/img/logo.png" alt="Логотип")

	+e.call-wrap.flex
		+e.phone.A(href="tel:83852222750") 8 (3852) 222-750
		+e.recall.A(href="#") Обратный звонок

	+e.hamburger.hamburger.hamburger--spin.js-mobile-menu
		.hamburger-box
			.hamburger-inner

