+b.page-heading.SECTION
	+e.wrap.wrap
		+e.top.flex
			+e.back-link.A(href="#") Вернуться на главную
			+e.page-title.H1 Статьи

		+e.sort-list.no-circle-list.flex._justify.UL
			+e.sort-item.LI
				+e.sort-link.A(href="#") Все
			+e.sort-item.LI
				+e.sort-link.A(href="#") 2018 год
			+e.sort-item.LI
				+e.sort-link.current.A(href="#") 2017 год
			+e.sort-item.LI
				+e.sort-link.A(href="#") 2015 год

		+e.text.text Строить долговечные дома, обладающие набором важных для потребителей характеристик, совершенствовать технологию и сдавать объекты точно в срок — принципы, которыми вот уже четверть века руководствуется в своей работе один из основных барнаульских застройщиков. В марте компании «Проект Строй» исполняется 5 лет.
