.hamburger{
	padding: 0;
	opacity: 1!important;
	// margin: -15px !important;
	user-select: none;
	-webkit-tap-highlight-color: transparent;

	@include min-screen($small_tablet + 1) {
		display: none;
	}

	&-box{
		width: 21px;
		height: auto;
	}

	&-inner{
		width: 21px;
		height: 1px;
		margin-top: -1px;
		background-color: $dark!important;

		&:before, &:after{
			background-color: inherit!important;
			width: inherit;
			height: inherit;
		}

		&:before{
			top: -7px;
		}
		&:after{
			bottom: -7px;
		}
	}
}
